{% extends "layout.html" %}
{% block body %}
<h2>Current Light Status:</h2>
<form action="{{ url_for('updatelights') }}" method=post class=update>
    {% if lightson %}
        <input type="radio" name="lightstatus" value="lightson" checked="checked">Lights On<br>
        <input type="radio" name="lightstatus" value="playliston">Play Music<br>
        <input type="radio" name="lightstatus" value="lightsoff">Lights Off<br>
    {% else %}
        {% if playliston %}
            <input type="radio" name="lightstatus" value="lightson">Lights On<br>
            <input type="radio" name="lightstatus" value="playliston" checked="checked">Play Music<br>
            <input type="radio" name="lightstatus" value="lightsoff">Lights Off<br>   
        {% else %}
            <input type="radio" name="lightstatus" value="lightson">Lights On<br>
            <input type="radio" name="lightstatus" value="playliston">Play Music<br>
            <input type="radio" name="lightstatus" value="lightsoff" checked="checked">Lights Off<br>       
        {% endif %}
    {% endif %}
    {% if session.logged_in %}
        <div class=update-button><input type=submit value=Update>    </div> 
    {% endif %}         
</form>
<div class=schedule-link>
    <a href="{{ url_for('schedule') }}">View and Update Schedule</a><br/>
    <a href="{{ url_for('playlist') }}">Manage Playlist</a>
</div>

{% endblock %}