{% extends "layout.html" %}
{% block body %}


  <form action="{{ url_for('update_playlist') }}" method=post class=add-entry>
    <table style="width:100%" class=playlist-table>
        <col style="width:10%">
        <col style="width:30%">
        <col style="width:50%">
        <col style="width:10%">
        <tr>
            <th>N</th>
            <th>Name</th>
            <th style="fill">File Path</th>
            <th>Del</th>
        </tr>
        {% for entry in playlist %}
            <tr>
                <td><button type=submit value={{ entry.id }} name="move_up">&#94;</button></td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.path }}</td>
                <td><button type=submit value={{ entry.id }} name="delete_entry">Del.</button></td>
            </tr> 
        {% endfor %}
    </table>
  </form>
  <form action="{{ url_for('add_song') }}" method=post class=add-entry>
    Path:<input type="file" name=path><br/>
    Order:<input type=text size=2 name=order>Name:<input type=text size=14 name=name>  
    <input type=submit value=Add>
   </form>
{% endblock %}