{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('delete_schedule') }}" method=post class=add-entry>
  <table style="width:100%" class=entries>
  <tr>
    <th>Day</th>
    <th>Time</th>
    <th>Action</th>
    <th>Del</th>
  </tr>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.day }}</td>
            <td>{{ entry.hour }}:{{ entry.minute }}</td>
            <td>
                {% if entry.turnon %}Lights On{% endif %}
                {% if entry.turnoff %}Lights Off{% endif %}
                {% if entry.startplaylist %}Play Music{% endif %}
                {% if entry.stopplaylist %}Stop Music{% endif %}
            </td>
            <td><button type=submit value={{ entry.id }} name="delete_entry">Del.</button></td>
        </tr> 
    {% endfor %}
  </table>
  </form>
  <form action="{{ url_for('add_schedule') }}" method=post class=add-entry>
        <select name="day">
            <option value="Sunday">Sun.</option>
            <option value="Monday">Mon.</option>
            <option value="Tuesday">Tue.</option>
            <option value="Wednesday">Wed.</option>
            <option value="Thursday">Thur.</option>
            <option value="Friday">Fri.</option>
            <option value="Saturday">Sat.</option>
            <option value="Everyday">Every</option>
        </select>
        <select name="hour">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
      :
        <input type="text" class="minute-input" name="minutes" value="00">
        <select name="ampm">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select>
        <select name="action">
            <option value="turnon">On</option>
            <option value="turnoff">Off</option>
            <option value="startplaylist">Play</option>
            <option value="stopplaylist">Stop</option>
        </select>
      <input type=submit value=Add>
    </form>
{% endblock %}